.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #141612;
    z-index: 1000;
    font-family: "Book Antiqua", serif;
    box-sizing: border-box;
}

.headerMenu {
    display: flex;
    box-sizing: border-box;
    font-weight: bold;
    height: 65px;
    font-size: 24px;
    padding: 0 5%;
    color: white;
}

.mediaMenu {
    display: none; /* hidden object */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.logo .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 10px;
    width: 30px;
    height: 30px;

    background-color: white;
    aspect-ratio: 1/1; /* Fixed aspect ratio 1:1 */
    border-radius: 10px;
    color: black;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 60%;
    padding: 0 10%;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu div {
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.menu div:hover {
    filter: drop-shadow(0 0 20px #FFFFFF) drop-shadow(0 0 30px #FFFFFF);
}

.headerMenu ul {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerMenu ul li {
    list-style: none;
    display: inline-block;
}

.headerMenu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    text-decoration: none;
    color: black;
    border-radius: 50%;
    background-color: white;
}

.headerMenu ul li a:hover {
    filter: drop-shadow(0 0 20px #FFFFFF) drop-shadow(0 0 30px #FFFFFF);
}

.mediaMenu button {
    display: inline-block;
    font-family: "Book Antiqua", serif;
    padding: 5px 10px;
    background-color: #00008B;
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

/* ------------------------- @media ------------------------- */

@media screen and (min-width: 992px) and (max-width: 1200px) {

    .headerMenu {
        padding: 0 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {

    .mediaMenu {
        display: flex; /* Об'єкт відображається при ширині екрану менше 768px */
        align-items: center;
        justify-content: right;
        width: 80%;
    }

    .menu {
        margin: 0;
        padding: 0;
        max-height: 0;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        background-color: black;
        position: absolute;
    }

    .menu.show, .linksList.show {
        animation: dropdownAnimation 2s ease forwards;
        height: 50px;
    }

    @keyframes dropdownAnimation {
        from {
            max-height: 0;
        }
        to {
            max-height: 500px;
        }
    }

    .headerMenu ul {
        margin: 0;
        padding: 0;
        max-height: 0;
        top: 115px;
        left: 0;
        width: 100%;
        overflow: hidden;
        justify-content: space-evenly;
        background-color: black;
        position: absolute;
    }
}

@media screen and (min-width: 0) and (max-width: 576px) {

    .mediaMenu {
        display: flex; /* Об'єкт відображається при ширині екрану менше 768px */
        justify-content: right;
        align-items: center;
        width: 80%;
    }

    .menu {
        margin: 0;
        padding: 0;
        max-height: 0;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        background-color: black;
        position: absolute;
    }

    .headerMenu {
        font-size: 20px;
    }

    .menu.show, .linksList.show {
        animation: dropdownAnimation 2s ease forwards;
        height: 50px;
    }

    @keyframes dropdownAnimation {
        from {
            max-height: 0;
        }
        to {
            max-height: 500px;
        }
    }

    .headerMenu ul {
        margin: 0;
        padding: 0;
        max-height: 0;
        top: 115px;
        left: 0;
        width: 100%;
        overflow: hidden;
        justify-content: space-evenly;
        background-color: black;
        position: absolute;
    }
}
