/* -------------------- 'WELCOME' style -------------------- */
h1 {
    color: silver;
    font-size: 120px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-100%, -50%);
}

h1::before {
    content: attr(content);
    position: absolute;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    color: white;
    animation: move 5s linear infinite; /* Function for change color */
    filter: drop-shadow(0 0 20px #00ffffff) drop-shadow(0 0 30px #00ffffff);
}

@keyframes move {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }

}

img {
    margin-top: 40px;
    width: 450px;
    margin-left: 55%;
    /*background-color: #00ffffff;*/
    border-radius: 50%;
}